@font-face {
  font-family: Halenoir;
  src: url("../../fonts/Halenoir-Black.otf") format("opentype");
}
@font-face {
  font-family: NeueHaasUnica;
  src: url("../../fonts/NeueHaasUnica-Regular.ttf") format("opentype");
}
.error-body {
  width: 400px;
  color: #381f50;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin: 3em auto;
}

.info-body {
  display: none;
  opacity: 0;
  width: 400px;
  color: #381f50;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin: 3em auto;
}

.lyrics {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #15092e;
  padding: 0 25px;
  z-index: 99;
  /*.show-lyrics {
    opacity: 0;
  }*/
}
.lyrics #search {
  width: 400px;
  padding: 25px 120px;
  border-radius: 10px;
}
.lyrics p.hint {
  display: block;
  margin: 15px auto;
  color: #b4b4b4;
  text-align: right;
}
.lyrics .pre-formatted {
  width: 100%;
  height: 700px;
  white-space: pre;
  margin: 35px 0;
  overflow-y: scroll;
}

.search-box {
  text-align: center;
}

.search__input {
  width: 75%;
  padding: 12px 24px;
  margin: 0 auto;
  font-family: NeueHaasUnica;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #fdf8fa;
  border-radius: 50px;
  border: 1px solid #cc7cfd;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: color(#b4b4b4 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #b4b4b4;
  border-radius: 0;
  background-position: 100% center;
}

@media screen and (max-width: 768px) {
  .lyrics {
    position: relative;
    width: 100%;
    padding: 0;
    min-height: auto;
  }
  .lyrics .info-body {
    width: auto;
  }
  .lyrics .pre-formatted {
    width: 600px;
    height: 600px;
    padding: 15px 0 0 45px;
  }
}
@media screen and (max-width: 480px) {
  .lyrics {
    padding: 0 auto;
    min-height: 100vh;
  }
  .lyrics .search-box {
    flex-direction: column;
  }
  .lyrics .search-box input {
    width: 92%;
    padding: 15px;
    margin: 15px 0;
  }
  .lyrics .search-box button {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
  }
  .lyrics .pre-formatted {
    width: auto;
    overflow-y: auto;
  }
}
.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.error .question-mark {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #381f50;
  font-size: 72px;
  font-weight: 700;
  border: 6px solid #381f50;
  border-radius: 100%;
  margin: 0 auto;
}
.error p {
  color: #381f50;
  font-weight: 700;
  font-size: 22px;
  margin: 15px auto;
}

.music-box {
  position: absolute;
  max-height: 100vh;
  width: 66%;
}
.music-box a.back-link {
  margin: 45px;
  cursor: pointer;
}
.music-box .thumbnail {
  width: 100%;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px auto;
}
.music-box .informations {
  display: flex;
  align-items: center;
  width: 55%;
  height: 150px;
  padding: 25px 0;
  margin: 25px auto;
}
.music-box .informations .contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 55px;
}
.music-box .informations .contain .main-info {
  margin: 0 0 15px 0;
}
.music-box .informations .contain .main-info h2 {
  margin: 5px 0;
}
.music-box .informations .contain .main-info p {
  margin: 3px 0;
}
.music-box .informations .contain .info-sup {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}
.music-box .informations .contain .info-sup .info-row {
  display: flex;
  justify-content: space-between;
}
.music-box iframe {
  display: block;
  border-radius: 5px;
  margin: 25px auto;
}

@media screen and (max-width: 768px) {
  .music-box {
    position: relative;
    width: 100%;
    margin-top: 25px;
  }
  .music-box .informations {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .music-box .informations {
    width: 100%;
  }
  .music-box .informations .contain {
    padding: 0 15px;
  }
  .music-box iframe {
    width: 100%;
  }
}
.music-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-height: fit-content;
  margin: 10px 0;
}
.music-list .card {
  display: flex;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}
.music-list .card:hover {
  cursor: pointer;
  background: #381f50;
  transition: all 0.3s ease;
}
.music-list .card:hover .details .play-button > svg {
  color: #cc7cfd;
  border-color: #cc7cfd;
  animation: 1s ease-in-out playRotate;
}
.music-list .card .thumbnail-list {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
.music-list .card .details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 2em;
}
.music-list .card .details .infos {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.music-list .card .details .infos span {
  color: #b4b4b4;
}
.music-list .card .details .infos span:last-of-type {
  margin-bottom: 20px;
}
.music-list .card .details .infos h3,
.music-list .card .details .infos p {
  margin: 0;
}
.music-list .card .details .play-button {
  margin: auto 25px;
  font-size: 26px;
}
.music-list .card .details .play-button > svg {
  padding: 15px;
  border: 4px solid #fdf8fa;
  border-radius: 100%;
}

@keyframes playRotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: NeueHaasUnica;
  color: #fdf8fa;
  background-color: #070211;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Halenoir;
}

a {
  color: #e125b0;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #cc7cfd;
}

.center {
  text-align: center;
}

.container {
  display: flex;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
